* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Paytone One', sans-serif; */
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #fff;
  --text-color: #221314;
  --secound-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.40s;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  color: var(--bg-color);
  letter-spacing: 1px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}

.navbar a:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

#menu-icon {
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 80px 18%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/img/home.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.home-text p {
  color: #ffffffbf;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 50px;
}

.home-btn {
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background: #ffffffbf;
  color: var(--main-color);
  border-radius: 4px;
  transition: ease 0.40s;
}

.home-btn:hover {
  background-color: var(--bg-color);
  transform: scale(1.1);
}

header.sticky {
  background-color: var(--bg-color);
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
  color: var(--text-color);
}

.sticky .navbar a {
  color: var(--text-color);
}

.text h2 {
  font-size: var(--h2-font);
  line-height: 1.1;
}

.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.container-box {
  background-color: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 4px;
  transition: all 1s ease 0s;
  cursor: pointer;
}

.container-img img {
  height: 85px;
  width: 85px;
  padding: 15px;
  background-color: var(--bg-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.container-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.container-box p {
  font-size: 15px;
  color: var(--secound-color);
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
}

.title {
  text-align: center;
}

.title h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}

.package-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.thum {
  position: relative;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: filter;
  cursor: pointer;
}

.thum img {
  max-width: 100%;
  width: 330px;
  height: auto;
}

.thum h3 {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  color: var(--bg-color);
  top: 36px;
  right: 40px;
}

.dest-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.stars i {
  color: var(--main-color);
  font-size: 20px;
}

.location h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.location p {
  font-size: 15px;
  color: var(--secound-color);
}

.thum:hover {
  filter: brightness(100%) hue-rotate(45deg);
  transform: scale(1.04);
}

.destination-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.col-content {
  position: relative;
}

.col-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: filter;
}

.col-content h5 {
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  color: var(--bg-color);
  left: 15px;
  bottom: 60px;
}

.col-content p {
  position: absolute;
  font-size: 15px;
  color: var(--bg-color);
  left: 15px;
  bottom: 30px;
  letter-spacing: 2px;
}

.col-content img:hover {
  filter: brightness(100%) hue-rotate(45deg);
  transform: scale(1.04);
  cursor: pointer;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-gap: 3rem;
}

.news-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 5px;
}

.news-text p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 30px;
}

.newsletter form {
  max-width: 100%;
  width: 450px;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 20px 150px 20px 30px;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  outline: none;
  border: none;
  border-radius: 15px;
}

.newsletter form input:last-child {
  display: inline-block;
  position: absolute;
  outline: none;
  border: none;
  padding: 14px 30px;
  border-radius: 15px;
  background-color: var(--main-color);
  color: var(--bg-color);
  top: 6px;
  right: 6px;
  cursor: pointer;
}